@using TastyDelivery.Infrastructure.Data.Models.Enums
@using TastyDelivery.Models.RestaurantModels

@model IEnumerable<RestaurantsViewModel>

@{
    ViewBag.Title = "Restaurants";
}

<div class="container">
    <div class="text-center mb-5">
        <h1 class="mb-4 display-1">Choose Your Restaurant</h1>
    </div>

    <div class="row justify-content-center">
        @foreach (var restaurant in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <a href="@Url.Action("ShowMenu", "Restaurant", new { id = restaurant.Id})" class="text-decoration-none text-dark stretched-link"></a>
                    <div class="card-body">
                        <h4 class="card-title mb-3">@restaurant.Name</h4>
                        <h4 class="card-title mb3">@restaurant.Type</h4>
                        <p class="card-text mb-2"><strong>Location:</strong> @restaurant.Location</p>
                        <p class="card-text mb-2"><strong>Working Hours:</strong> @restaurant.WorkingHours</p>
                    </div>
                </div>
                @if (User.IsInRole(UserRole.Admin.ToString()))
                {
                    <button onclick="updateRestaurant('@Url.Action("UpdateRestaurant", "Job", new { area = UserRole.Admin.ToString() })', @restaurant.Id)" class="btn btn-secondary mt-2">Update</button>
                    <button onclick="deleteRestaurant('@Url.Action("DeleteRestaurant", "Job", new { area = UserRole.Admin.ToString() })', @restaurant.Id)" class="btn btn-danger mt-2">Delete</button>
                }
            </div>
        }
    </div>
</div>

<style>
    .card:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

<script>
    function updateRestaurant(url, id) {
        window.location.href = url + '?id=' + id;
    }

    function deleteRestaurant(url, id) {
        if (confirm('Are you sure you want to delete this restaurant?')) {
            window.location.href = url + '?id=' + id;
        }
    }
</script>
