@using TastyDelivery.Core.Models.Restaurant

@model IEnumerable<RestaurantMenuViewModel>

@{
    ViewBag.Title = $"Menu";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="container" style="text-align: center">
    <div class="card row-md-4" style="text-align: left">
        @foreach (var menuItem in Model)
        {
            <div style="list-style: none">
                <li>@menuItem.Name - @menuItem.Price BGN <input type="number" id="quantity_@menuItem.ProductId" value="1" min="1" max="20" style="width: 6ch" /> </li>
                <li>@menuItem.Description</li>
                <button onclick="addToOrder('@menuItem.ProductId', '@menuItem.Price')">Add To Order</button>
            </div>
        }
    </div>
</div>

<script>
    function getQuantity(productId) {
        var quantityField = document.getElementById('quantity_' + productId);
        var quantity = quantityField.value;

        return quantity;
    }

    function addToOrder(productId, price) {
        var quantity = getQuantity(productId);

        location.href = '@Url.Action("Add", "ShoppingCart")' + '?restaurantId=@Model.First().RestaurantId' + '&productId=' + productId + '&price=' + price + '&quantity=' + quantity;
    }
</script>


